// Цветовая палитра
$primary-color: #792ec9;
$primary-color-dark: #6525a7;
$danger-color: #d32f2f;
$danger-color-dark: #c82333;
$success-color: #28a745;
$success-color-dark: #218838;
$text-color-primary: #333;
$text-color-secondary: #666;
$background-color-light: #fff;
$border-color: #e0e0e0;

$input-padding: 12px 15px;
$button-padding: 10px 16px;
// Общие переменные
$border-radius: 8px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
$transition-duration: 0.2s;

// Шрифты
$font-family: 'Arial', sans-serif;
$font-size-title: 23px;
$font-size-text: 15px;

