// Цветовая палитра
$primary-color: #792ec9;
$primary-color-dark: #6525a7;
$danger-color: #d32f2f;
$success-color: #28a745;
$text-color-primary: #333;
$text-color-secondary: #666;
$background-color-light: #fff;
$border-color: #e0e0e0;

// Общие переменные
$border-radius: 8px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
$font-family: 'Arial', sans-serif;
$transition-duration: 0.2s;

// Карточки
.card {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  font-family: $font-family;
  background-color: $background-color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &--hover {
    transition: box-shadow $transition-duration ease;
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
  }
}

// Секции и заголовки
.section {
  &__title {
    background-color: $primary-color;
    color: $background-color-light;
    padding: 12px 18px;
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    border-bottom: 2px solid $primary-color-dark;
  }

  &__content {
    padding: 18px;
    flex-grow: 1;
    background-color: $background-color-light;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}

// Поля ввода
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 1rem;
  transition:
    border-color $transition-duration ease,
    box-shadow $transition-duration ease;

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }

  &::placeholder {
    color: $text-color-secondary;
  }
}

// Кнопки
.button {
  padding: 10px 18px;
  border-radius: calc($border-radius / 2);
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color $transition-duration ease,
    transform 0.1s ease,
    box-shadow $transition-duration ease;

  &--primary {
    background-color: $primary-color;
    color: $background-color-light;

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  &--secondary {
    background-color: $background-color-light;
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }

  &--danger {
    background-color: $danger-color;
    color: $background-color-light;

    &:hover {
      background-color: $danger-color;
    }
  }

  &--success {
    background-color: $success-color;
    color: $background-color-light;

    &:hover {
      background-color: $success-color;
    }
  }
}
